<footer>
<h4>About author</h4>
<h5>ElenaParchevskaya</h5>
<p>
	TestGuru это приложение позволяющее создавать, проходить и управлять тестами на различную тематику. TestGuru разрабатывается в рамках курса онлайн-школы <a href="https:/thinknetica.com" target="_blank">Thinknetica</a>
</p>
<br>
<p>Github: <%=github_url('ElenaParchevskaya', 'testguru')%></p>
<p><%=current_year%></p>
</footer>
