.history_test_passages
  background-color: #e6e1e1
  border-radius: 5px
  margin: 20px auto
  padding: 5px
  width: 60%
  ul
    text-align: center
    list-style: none
    padding: 0

.description
  text-align: center
.success
  color: #38823b
.fail
  color: #f00f00
form.test_passages
  input
    margin: 0 10px
